body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2e3d49;
}

#game-container {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 600px;
  background-color: #c2c2c2;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  padding: 10px;
}

.column {
  flex: 1;
  position: relative;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.card {
  width: 60px;
  height: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  transition: top 0.5s;
  z-index: 1; /* Garante que as cartas sejam empilhadas corretamente */
}

.card.face-up {
  border: 2px solid #000;
}

.card.dragging {
  opacity: 0.5;
  z-index: 10; /* Coloca a carta sendo arrastada no topo */
}
